<center>
  <h1><strong>Shred-Da-Mountain!</strong></h1>
</center>

<div class=container>
  <div class=row>
    <div class=col-md-1></div>
    <div class=col-md-5><strong>
      <h2><strong>Bucket List Mountains</strong></h2>
        <ul>
          {{#each mountains}}
          {{#if shred}}
          {{> mountains/mountain-block shredded=false}}
          {{/if}}
          {{/each}}
        </ul>
    </div>
    <div class=col-md-6>
      <h2><strong>Shredded Mountains</strong></h2>
        <ul>
          {{#each mountains}}
          {{#unless shred}}
          {{> mountains/mountain-block shredded=true}}
          {{/unless}}
          {{/each}}
        </ul></strong>
    </div>
    {{!-- <div class=col-md-1></div> --}}
  </div>
</div>

<center><strong>
  <h2>Add-Da-Mountain</h2>
  <form class="create-form">

    <div class="form-group">
      <label for="ca">Mountain Name:</label>
      <input type="text" id="ca" name="name">
    </div>

    <div class="form-group">
      {{!-- <label for="shred">Bucket list or Shredded it?</label><br> --}}
      <input type="radio" name="shred" value="1" checked> Bucket List<br>
      <input type="radio" name="shred" value="0"> Shredded It
    </div>

    <button class="btn btn-secondary btn-sm" type="submit">Add Mountain</button>
  </form></strong>
</center>